/*this is the main file  and also the common for all viewports */
*{box-sizing: border-box;}
html,body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 100%;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100%;
    background-image: url(../images/indexbg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.header {
  background-color: #0096D6;
  padding: 1rem;
  height:40px;
  width: 100%;
  margin-bottom:10px;
}
.header a{
  float:left;
  color:white;
  text-align: center;
  text-decoration: none;
  font-weight:normal;
  margin-left:8px;
}
.header-right {
  float: right;
  font-size:0.8rem;
  margin-top:0.1rem;
}
.header a:hover {
  text-decoration: underline;
}
.header a.logo {
  font-size: 1rem;
}
h1{
  text-align: center;
  color: rgb(64, 66, 60);
  font-size: 100%;
  background-color: rgba(239, 239, 241, 0.924);
}

#section-wrapper{
  background-color:rgba(55, 73, 151, 0.308);
  width:90%;
  margin: 0 auto;
  border-radius:0.5rem;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
.flex-container p{
  margin:0.8rem;
  font-size:90%;
  color: white;
}
.card{
  /* background-color: rgba(2, 3, 8, 0.644); */
  background-color: #0096D6;
  border-radius:0.5rem;
  text-align:center;
  width:90%;
  margin:0 auto;
  margin-bottom:10px;
}
.bottom{
  font-size: 100%;
  text-align: center;
  color:  rgb(64, 66, 60);
  font-family: inherit;
  width:90%;
  margin:0 auto;
  background-color: rgba(239, 239, 241, 0.924);
}
.bold{
    color:rgba(211, 44, 86, 0.986);
    cursor:not-allowed;
}
#hack{
  padding-bottom:30px;
}
footer
{
height:40px;
background-color: #0096D6;
width: 100%;
color: white;
text-align: center;
margin-top:100rem;
position: absolute;
bottom: 0;
}
footer p{
padding-top:10px;
font-size:12px;
font-weight:normal;
}
footer a{
  color: white;
  padding-top:10px;
  font-size:12px;
  text-align: center;
  text-decoration: none;
}
footer a:hover {
text-decoration: underline;
}
img {max-width: 100%;}


/* styles signup form only*/

#form-container{
  background-color: rgba(239, 239, 241, 0.924);
  border-radius:5px;
  width: 280px;
  font-size: small;
  font-weight: 500;
  overflow: hidden;
  margin:0 auto;
  margin-bottom: 30px;
}
.form{
  padding:30px;
  font-weight: 700;
}
.form-header{
  text-align:center;
  background-color: #0096D6;
  padding: 8px;
  margin:0;
  font-weight: 500;
  font-size: 140%;
  color: rgba(255,255,255);
}
.error{
  color: rgb(255, 0, 0);
  font-size: 13px;
  margin-bottom: 3px;

}
.input{
  margin-bottom: 10px;
  padding:8px;
  width:100%;
  font-weight: 700;
}

#submit:hover{
  background-color: white;
  color: rgba(2, 3, 8, 0.644);
  border: 2px solid rgba(2, 3, 8, 0.644);
  cursor: pointer;
}
#submit{
font-weight:bold;
background-color: #0096D6;
border: 2px solid white;
border-radius:0.5rem;
text-decoration: none;
padding: 7px 28px;
color:rgb(255, 255, 255);
margin-bottom: 10px;
display: inline-block;
width:100%;
font-size: 100%;
}


/* modal signin*/
.bg-sigin-modal{
    width:100%;
    height:100%;
    background-color:rgba(55, 73, 151, 0.602);
    position: absolute;
    top:0;
    display:flex;
    display:none; 
}
.login-form{
    width: 280px;
    height:350px;
    border-radius:0.5rem;
    text-align: center;
    padding:1.0rem;
    position: relative;
    background-color: rgba(239, 239, 241, 0.924);
    margin:auto;
    margin-top: 100px;

}
.text-big{font-weight: 700;}
.login-button {
	background-color: #0096D6;
	border: 2px solid white;
	border-radius:0.5rem;
	text-decoration: none;
	padding: 7px 28px;
	color: white;
  margin-bottom: 10px;
  display: inline-block;
  width:90%;
}
.login-button:hover{
    background-color: white;
    color: rgba(2, 3, 8, 0.644);
    border: 2px solid rgba(2, 3, 8, 0.644);
}
input{
    padding: 7px 28px;
    display: block;
    margin:15px auto;
    font-weight: bold;
}

.close,.closeb{
    position: absolute;
    top:0;
    right:14px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor:pointer;
}
.text-center{
    text-align: center;
    margin-top: inherit;
    font-size: 12px;
    margin-top:20px;
}
.text-center a{
    text-decoration:none;
    font-weight: 700;
    color:rgb(214, 0, 160);
}

@media (min-width: 576px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:14px;
  }
  .header a.logo {
    font-size: 1.2rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.25rem;
  }
}
@media (min-width : 768px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:16px;
  }
  .header a.logo {
    font-size: 1.4rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.4rem;
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  #form-container{
    width: 320px;
  }
}
@media (min-width : 992px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:18px;
  }
  .header a.logo {
    font-size: 1.6rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.5rem;
  }
  .flex-container{
    flex-direction: row;
  }
  h1{
    color: rgb(64, 66, 60);
    font-size: 160%;
  }
  .card{
    margin:2%;
  }
  #section-wrapper{
    padding-bottom:10px;  
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  .bg-sigin-modal{
    justify-content: center;
    align-items: center;
}
#form-container{
  width: 320px;
}
}
@media (min-width : 1200px) {
  .header {
    padding: 1rem;
    height:60px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:20px;
  }
  .header a.logo {
    font-size: 1.8rem;
  }
 .header-right {
    font-size:0.9rem;
    margin-top:0.7rem;
  }
  .flex-container{
    flex-direction: row;
  }
  .card{
    margin:2%;
  }
  h1{
    color: rgb(64, 66, 60);
    font-size: 180%;
  }
  #section-wrapper{
    padding-bottom:10px;  
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  .bg-sigin-modal{
    justify-content: center;
    align-items: center;
}
#form-container{
  width: 320px;
}
}
