<!DOCTYPE html>
<!-- there are things that I want to do before I leave the earth -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a webpage where you can create and manage your bucketlist">
    <meta name="Keywords" content="Bucket List, Create list, to do">
    <meta name="author" content="kabaki.antony@gmail.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="{{ url_for('static', filename='js/new-password.js')}}"></script>
    <title>BucketList</title>
</head>
<body class="sign-up">
    <div id="container">
        <header>
            <nav>
              <div class="header">
                <a href="/" class="logo">Bucket List</a>
                <div class="header-right">
                    <a href="/contact">Contact</a>
                </div>
            </div>
            </nav>
          </header>
        <div id="section-wrapper">
            <div class="flex-container">
                <div id="form-container" class="reset-form">
                    <h2 class="form-header">Update passsword</h2>
                    <img src="{{ url_for('static', filename='images/padlock.png') }}" alt="Reset Img" id="reset-img">
                    <div class="text-center">Create a new password below.</div>
                    <form  class="form" id="newPasswordForm" method="POST">
                    <div class="error" id="new-error-email"></div>
                    <label >Email</label>
                    <input type="email" class="input" id="newEmail" name="newEmail" >
                    <div class="error" id="new-error-password"></div>
                    <label >New password</label>
                    <input type="password" class="input" id="newPassword" name="newPassword" autocomplete="on">
                    <input type="submit" id="newSubmit" class="submit" value="Create new password">
                   </form>
                </div>         
            </div>
        </div>
    </div>
    <div id="signup-success"></div>
        <footer>
            <p>&copy; 2020&nbsp;&nbsp;<a href="https://twitter.com/kabakikiarie">Find me here</a></p>
        </footer>
    </div>
</body>
</html>