<!DOCTYPE html>
<!-- there are things that I want to do before I leave the earth -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a webpage where you can create and manage your bucketlist">
    <meta name="Keywords" content="Bucket List, Create list, to do">
    <meta name="author" content="kabaki.antony@gmail.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="{{ url_for('static', filename='js/main.js')}}"></script>
    <title>BucketList</title>
</head>
<body class="sign-up">
    <div id="container">
        <header>
            <nav>
              <div class="header">
                <a href="/" class="logo">Bucket List</a>
                <div class="header-right">
                    <a href="#" id="sign-in" class="sign-in">Sign In</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            </nav>
          </header>
        <div id="section-wrapper">
            <!-- <h1>Joining is as easy as filling three entries below....</h1> -->
            <div class="flex-container">
                <div id="form-container">
                    <h2 class="form-header">Sign up</h2>
                    <form  class="form" id="upForm" method="POST">
                    <label >First name</label>
                    <input  type="text" class="input" name ="firstname" id="firstname" required>
                    <div class="error" id="error-email"></div>
                    <label >Email</label>
                    <input type="email" class="input" id="upEmail" name="upEmail" >
                    <div class="error" id="error-password"></div>
                    <label >Password</label>
                    <input type="password" class="input" id="upPassword" name="upPassword" autocomplete="on">
                    <input type="submit" id="submit" value="Create my account">
                    <div class="text-center">Already have an account? <a href="#" id="sign-up-form">Sign In</a></div>
                   </form>
                </div>
                <div id="side-text">

                </div>
            
        </div>
    </div>
        <!--sign in modal-->
        <div class="bg-sigin-modal">
            <div class="login-form">
              <div class="close">+</div>
              <img src="{{ url_for('static', filename='images/login-avatar.png') }}" alt="">
              <div class="text-center" id="error"></div>
              <form id="inForm">
                <input type="email" id="inEmail" name="email" placeholder="e-mail">
                <input type="password" id="inPassword" name="password" placeholder="Password">
                <button type="submit" class="login-button">Sign In</button>
                <div class="text-center"><a href="/u/reset">Forgot password ?</a></div>
                <div class="text-center">Don't have an account? <a href="/u/signup">Sign up</a></div>
              </form>
            </div>
          </div>
        <footer>
            <p>&copy; 2020&nbsp;&nbsp;<a href="https://twitter.com/kabakikiarie">Find me here</a></p>
        </footer>
    </div>
</body>
</html>