<!DOCTYPE html>
<!-- there are things that I want to do before I leave the earth -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a webpage where you can create and manage your bucketlist">
    <meta name="Keywords" content="Bucket List, Create list, to do">
    <meta name="author" content="kabaki.antony@gmail.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="{{ url_for('static', filename='js/signup.js')}}"></script>
    <script defer src="{{ url_for('static', filename='js/signin.js')}}"></script>
    <title>BucketList</title>
</head>
<body class="sign-up">
    <div id="container">
        <header>
            <nav>
              <div class="header">
                <a href="/" class="logo">Bucket List</a>
                <div class="header-right">
                    <a href="#" id="sign-in" class="sign-in">Sign In</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            </nav>
          </header>
        <div id="section-wrapper">
            <div class="flex-container">
                <div id="form-container">
                    <h2 class="form-header">Sign up</h2>
                    <form  class="form" id="upForm" method="POST">
                    <label >First name</label>
                    <input  type="text" class="input" name ="firstname" id="firstname" required>
                    <div class="error" id="up-error-email"></div>
                    <label >Email</label>
                    <input type="email" class="input" id="upEmail" name="upEmail" >
                    <div class="error" id="up-error-password"></div>
                    <label >Password</label>
                    <input type="password" class="input" id="upPassword" name="upPassword" autocomplete="on">
                    <input type="submit" id="submit" class="submit" value="Create my account">
                    <div class="text-center">Already have an account? <a href="#" id="bottom-sign-in">Sign In</a></div>
                   </form>
                  </div>            
        </div>
    </div>
        <!--sign in modal-->
        <div class="bg-sigin-modal">
          <div id="form-container" class="sign-in-form">
            <div class="close">+</div>
            <h2 class="form-header">Sign In</h2>
            <div class="text-center"><img src="{{ url_for('static', filename='images/login-avatar.png') }}" alt=""></div>
            <form  class="form" id="inForm" method="POST">
            <div class="error" id="in-error-email"></div>
            <label >Email</label>
            <input type="email" class="input" id="inEmail" name="inEmail" >
            <div class="error" id="in-error-password"></div>
            <label >Password</label>
            <input type="password" class="input" id="inPassword" name="inPassword" autocomplete="on">
            <input type="submit" id="inSubmit" class="submit" value="Sign me in">
            <div class="text-center"><a href="/u/reset">Forgot password ?</a></div>
            <div class="text-center">Don't have an account? <a href="/u/signup">Sign up</a></div>
           </form>
          </div>  
        </div>
        <div id="signup-success">Congratulations &nbsp;<span>${name}</span>,&nbsp;&nbsp;
            Please check &nbsp;<span>${email}</span>&nbsp;for sign in instructions.
            </br>
            </br>We will now redirect you to the homepage....</div> 
        <footer>
            <p>&copy; 2020&nbsp;&nbsp;<a href="https://twitter.com/kabakikiarie">Find me here</a></p>
        </footer>
    </div>
</body>
</html>